//@use 'variables' as *;

.block-gallery{
    ul.galleryList{
        padding: 2rem 0;
        gap: 8px;
        li{

            img{
                max-height: 350px;

            }
        }
    }
}