.block-random-cards{
    .block-card{
        height: 100%;
        .card{
            height: 100%;
            img{
                height: 200px;
            }
            .cardContent{
                min-height: 150px;
            }
        }
    }
}