
.block-wrapper{
    &.block-plaintext{
        
        padding: 0;
        display:flex;
        flex-wrap: wrap;
        margin: 2rem 0;
        .container{
            max-width: 1024px;
            .block-in-wrapper{
            box-shadow: 2px 2px 19px 0 rgba(0, 0, 0, 0.12);
            border-radius: 8px;
 
            .block-text-wrapper{
                padding: 2rem 3rem;
            }
            .block-description{
            }
            .block-image-wrapper{

                img{
                    max-height: 500px;
                    border-radius: 0 8px 8px 0;
                }
            }
        }
        }
    }
}