@use 'variables' as *;

// Values block
.block-values{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    .block-value{
        background-color: $white;
        height: 100%;
        text-align: center;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
        border-radius: 6px;
        position: relative;
        padding: 1.5rem 1rem;
        height: 100%;
    }
}