
.block-plaintext{
    //box-shadow: 2px 2px 19px 0 rgba(0, 0, 0, .12);
    //max-width: 1200px;
    //margin: auto;
    .block-in-wrapper{
        
        .block-text-wrapper{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .block-description{
            padding: 1rem 0;
        }
        .block-image-wrapper{
            img{
                max-width: 600px;
            }
        }
    }
}