@use 'variables' as *;
// Header navigation
.header{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      .logo-link {
        display: inline-block;
      }

      .logo-img {
        height: 70px;
      }
    }

    .menu {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        li {
          border-bottom: 4px solid transparent;
          cursor: pointer;

          &:active, &:hover{
            border-bottom-color: #31b1bc;
            > a{
              color: #31b1bc;
            }
          }
          &.has-dropdown {
            position: relative;
            &:hover .dropdown-parent {
              display: block;
            }
            
            &:active, &:hover{ // hide <li> dropdown bottom border and show it over the dropdown box
              border-bottom-color: transparent;
            }
          }
          a {
            text-decoration: none;
            display: block;
            padding: 2rem 1rem;
          }
          ul.dropdown-parent {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            padding: 8px 0;
            border-top: 4px solid #31b1bc;
            border-radius: 0px 0px 4px 4px;
            z-index: 1;

            .dropdown-child {
              display: block;
              white-space: nowrap;
              border: 0;

              a{
                padding: 8px 16px;
              }
            }
          }
        }
      }
    }
  }
}
  