@use 'variables' as *;

body {
  font-size: $font-size;
  font-family: $font-family-primary;

  .block-wrapper{
    padding: 2rem 0;
  }

  h1 {
    font-size: $title-size;
  }

  h2 {
    font-size: $title-size * 0.5;
  }

  h3 {
    font-size: $title-size * 0.35;
  }

  .block-in-wrapper{
    max-width: 800px;
    position: relative;
    z-index: 1;
  }

  .block-description{
    font-size: $font-size;
  }

  li{
    a{
      color: black;
       &:hover{
      color: #31b1bc;
     }
    }
  }

  a {
    color: #31b1bc;
    &:hover{
      text-decoration: underline;
    }
  }
}